body{
    background-color:#bbf2ee ;
}

.ta1{
    width: 102%;
    flex: content;
    background-color: #2fcfc6;
    margin: -1%;
    margin-bottom: 1%;
}

.ta2{
    width: 80%;
    margin: auto;
    height: 3vh;
    border: 3px solid  #2fcfc6;
    border-radius: 10px;
    background-color: #c7fffc;
    margin-bottom: 1%;
}

.ta3{
    width: 80%;
    margin: auto;
    height: 40vh;
    
    margin-bottom: 1%;
}

.td1{
    width: 10%;
}

.log_in {  
    color: #2fcfc6;
    background-color: #c7fffc;
    border-radius: 10px;
    margin-top:30%; 
    width: 50%;
    margin-left: 20%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;

}

.new{
    text-align: center;
    width: 3%;
    font-size: 38px;
    font-weight: bolder;
    border: 5px solid #2fcfc6;
    border-radius: 100%;
    background-color: #c7fffc;
    margin-left: 90%;
}

.text1{
    font-size: 24px;
    font-weight: bold;
    border-right: 3px solid  #2fcfc6;
    text-align: center;
    width: 100%;
}

.text2{
    font-size: 20px;
    padding-left:1% ;
}

.text3{
    text-align: center;
    line-height:40vh;
    height: 40vh;
    font-size: 38px;
    border: 3px solid  #2fcfc6;
    border-radius: 10px;
    background-color: #c7fffc;
    margin: 10%;
}

.logo{
   width: 20%;
}

footer{
    text-align: center;
    background-color: #2fcfc6;
    height: 5vh;
    margin-left: -1%;
    width: 100.5%;
    line-height: 5vh;
    position: absolute;
    bottom: 0;
    margin-top: 7.2%;
}

@media screen and (max-width: 768px)
{
    .logo{
        width: 50%;
    }
    .log_in {  
        margin-top: 80%; 
        margin-left: -10%;
        width: 80%;
    }

    .ta1{
        margin-bottom: 3%;
    }

    .ta2{
        margin-bottom: 3%;
    }

    .ta3{
        width: 80%;
        margin: auto;
        height: 20vh;
        margin-bottom: 1%;
    }

    .td1{
        width: 20%;
    }
    .text3{
        text-align: center;
        line-height:10vh;
        height: 40vh;
        font-size: 30px;
        border: 3px solid  #2fcfc6;
        border-radius: 10px;
        background-color: #c7fffc;
        margin: 10% 20%;
    }
    
    .new{
        width: 6%;
        margin-bottom: 3%;

}
}