
.ta2{
    margin: auto;
    background-color: #2fcfc6;
    width: 80%;
    border:10px solid #2fcfc6;
    border-radius: 10px;
    margin-bottom: 12%;
}

.ta3{
    margin: auto;
    background-color: #c7fffc;
    width: 50%;
    border:10px solid #2fcfc6;
    border-radius: 10px;
    margin-bottom: 12%;
}

.td1{
    text-align: center;
}

.back{
    color: #c7fffc;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
}

.t1{
    text-align: center;
}

@media screen and (max-width: 768px)
{
    .ta3{
        
        width: 80%;
        
    }
    

    .back{
        font-size: 20px;
    }
    
}